/*----Colors -----*/
@brand-color: #15ABB1;
@sidebar-color: #117683;

@navbar-color: @brand-color;
@navbar-text-color: #fff;
@navbar-hover-color: lighten(@brand-color, 25%);

@navbar-dropdown-link-hover: darken(@brand-color,2.5%);
@navbar-dropdown-color: darken(@brand-color,5%);

@ground-color: #efefef;
@main-background-color: #fff;

@header-font: 'Frente';
@default-font: 'RobotoCn';
@paragraph-font: 'RobotoCn';

/*-----Mixins -----*/
.appearance(){
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
.borderradius(@rad){
	border-radius: @rad;
	-moz-border-radius: @rad;
	-webkit-border-radius: @rad;
}
.opacity(@opac){
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opac})";
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.rotate(@deg){
	-webkit-transform:rotate(@deg);
    -moz-transform:rotate(@deg);
    -ms-transform:rotate(@deg);
    transform:rotate(@deg);
}
.flex(){
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items:stretch;
}